p {
	text-align: center;
	margin: 100px;
}

.scene {
	margin: 0 auto;
	height: 100vh;
	width: 200px;
	height: 200px;
	perspective: 600px;
}

.cube {
	margin-top: 100px;
	animation: rotate 10s infinite linear forwards;
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
}

.cube_face {
	position: absolute;
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 500%;
	border: 2px solid black;
}

.cube_face_front {
	transform: rotateY(0deg) translateZ(100px);
	background: rgba(255, 0, 0, 0.7); 
}

.cube_face_right {
	transform: rotateY(90deg) translateZ(100px);
	background: rgba(0, 255, 0, 0.7);
}

.cube_face_back {
	transform: rotateY(180deg) translateZ(100px);
	background: rgba(0, 0, 255, 0.7);
}

.cube_face_left {
	transform: rotateY(-90deg) translateZ(100px);
	background: rgba(0, 255, 255, 0.7);
}

.cube_face_top {
	transform: rotateX(90deg) translateZ(100px);
	background: rgba(255, 255, 0, 0.7);
}

.cube_face_bottom {
	transform: rotateX(-90deg) translateZ(100px);
	background: rgba(255, 0, 255, 0.7);
}

@keyframes rotate {
	0% {
		transform: rotateY(0deg) rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg) rotateY(-360deg);
	}
}